md-content {
  background-color: transparent !important; }
md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1; }
md-content md-tabs md-tabs-wrapper {
  background: white; }
md-content h1:first-child {
  margin-top: 0; }
.reg-badge {
  background-image: url(resources/lanyard.jpg);
  height: 300px;
  width: 300px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.badge-outline {
  margin-top: 120px;
  margin-left: 40px;
  display: table;
  width: 200px;
  height: 150px;

}
.badge-row {

 // display: table-cell;
  border-bottom: thin solid black;
  padding-left: 5px;
  padding-right: 5px;
}

.badge-vip-row {
  background-color: red;
  font-weight: bold;
  color: white;
  text-align: center;
}